beautifulsoup4
blis
breadability
bs4
catalogue
certifi
chardet
charset-normalizer
click
cymem
docopt
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
Flask
gensim
gunicorn
idna
itsdangerous
Jinja2
langcodes
lxml
MarkupSafe
msgpack
murmurhash
nltk
numpy
packaging
pathy
preshed
pycountry
pydantic
pyparsing
requests
scipy
singledispatch
six
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
sumy
thinc
toolz
tqdm
typer
typing_extensions
urllib3
wasabi
Werkzeug
wrapt
